
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #222;
  background: #fff;
  line-height: 1.7;
}
.container {
  margin: auto;
  padding: 60px 20px;
}
h1 { font-size: 2.6em; margin-bottom: 0.4em; }
h2 { font-size: 2em; margin-top: 0; }
h3 { margin-bottom: 0.3em; }
.hero {
  text-align: center;  
  background:
    linear-gradient(180deg, #83088726, transparent 40%),
    repeating-linear-gradient(
      90deg,
      #ffffff08,
      #ffffff08 1px,
      transparent 2px,
      transparent 10px
    ),
    #0b0b0b;
  color: #fff;
  padding: 80px 20px;
}
.top_logo{
  width: 80vw;
  max-width: 400px;
}
.topimg-wrap {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

.topimg {
  display: block;
  width: 100%;
}

.button {
  display: inline-block;
  padding: 12px 32px;
  margin: 10px auto 50px;
  background: #fff;
  color: #000;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  mix-blend-mode: screen;
}
.button:hover{
  background: #ffffffee;
}
.about{
  text-align: center;
  color: #fff;
  padding: 80px 20px;
  background-image: linear-gradient(135deg, #000000ee, #290038ee), url(./gituptimehub.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.section-alt {
  text-align: center;
  color: #fff;
  padding: 80px 20px;
  background:
    linear-gradient(180deg, #83088726, transparent 40%),
    repeating-linear-gradient(
      90deg,
      #ffffff08,
      #ffffff08 1px,
      transparent 2px,
      transparent 10px
    ),
    #0b0b0b;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}
.card {
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 0 20px #94949422;
  background-color: #48385255;
}
.badge {
  display: inline-block;
  background: #2e2e2e99;
  color: #eee;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 0.85em;
}

.points{
  background:
    linear-gradient(0deg, #83088726, transparent 40%),
    repeating-linear-gradient(
      90deg,
      #ffffff08,
      #ffffff08 1px,
      transparent 2px,
      transparent 10px
    ),
    #0b0b0b;
  color: #eee;
  text-align: center;
}
.card_points{
  margin-bottom: 40px;
}

.fin{
    text-align: center;  
  background:
    linear-gradient(0deg, #ab0eb126, transparent 40%),
    repeating-linear-gradient(
      90deg,
      #ffffff08,
      #ffffff08 1px,
      transparent 2px,
      transparent 10px
    ),
    #0b0b0b;
  color: #fff;
  padding: 80px 20px;
}

footer {
  background: #14001a;
  color: #ccc;
  text-align: center;
  padding: 10px 0;
}
footer a { color: #999; }

footer a:hover { color: #aaa; }